.form_wrapper
  .panel.panel-default
    .panel-heading
      Create new account
    .panel-body
      = haml :"flash/notice"
      .form_container
        %form#new_user.form-horizontal.new_user{"accept-charset" => "UTF-8", :action => "/users/create", :method => "post"}
          = form_input(@person, "first_name")
          = form_input(@person, "last_name")
          = form_input(@person, "email")
          = form_input(@person, "login")
          = form_input(@person, "password", :password => true)
          = form_input(@person, "confirm_password", :password => true)
          .text-right
            %input.btn.btn-primary{:name => "commit", :type => "submit", :value => "Register"}


