- if @brands.present?
  .brand_wrapper
    .panel.panel-default
      .panel-heading.strong
        Brand manager

  .brand_wrapper
    .panel.panel-default
      .panel-heading
        My brands
      .panel-body
        = haml :"flash/notice"
        %table.table.table-striped
          %tr
            %td.strong
              Name
            %td.strong.actions
              Action
          - @brands.each do |brand|
            %tr
              %td
                %a{ :href => "/brands/show?id=#{brand.id}"}
                  = brand.name
              %td
                %a{ :href => "/brands/edit?id=#{brand.id}", :class => "btn btn-success btn-xs"} Edit
                %a{ :href => "/brands/destroy?id=#{brand.id}", :class => "btn btn-danger btn-xs"} Destroy

- else
  #main-container.container
    .jumbotron
      %h2
        %span.logo-font
          You do not have any brands.
          %a{ :href => "/brands/new"} Create first one!



